@use "./variables" as *;
@use "sass:map";

@mixin respond($breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
        @content;
    }
}
