@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
);

$light-navy: hsl(240, 40%, 16%);
$dark-navy: hsl(240, 40%, 10%);
$gunmetal-grey: hsl(200, 12%, 24%);
$cyan: hsl(180, 100%, 50%);
$magenta: hsl(300, 100%, 50%);

$primary-color: $cyan;
$accent-color: $magenta;

$font1: "IBM Plex Sans", sans-serif;
$font2: "Inter", sans-serif;
