@use "../abstracts" as *;

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    border-bottom: 1px solid hsla(240, 9%, 66%, 0.2);

    * {
        font-weight: 600;
    }

    .nav-item {
        transition: color 0.25s ease;
        * {
            transition: color 0.25s ease;
        }

        &:hover,
        .active {
            color: $light-blue;
            * {
                color: $light-blue;
            }
        }
    }
}
