@use "../abstracts" as *;
@use "sass:color";

.navbar {
    position: relative;
    width: 100%;
    margin-inline: auto;
    font-weight: 600;
    border-bottom: $main-border;

    .navbar-progress {
        position: absolute;
        left: 0;
        top: 0;
        background: hsl(0 0% 100% / 0.1);
        border-right: 1px hsl(0 0% 100% / 0.2) solid;
        width: 50%;
        height: 100%;
    }

    .collapse {
        position: static;
        inset: 0;
        @include respond("md") {
            position: absolute;
        }
    }

    .sign-up {
        --k: 1rem;
        padding-inline: 2rem;
        outline: transparent;
        border: none;
        width: fit-content;
        background-color: $primary-color;
        border-radius: 0.5rem;
        transition: background-color 0.25s ease;
        @include respond("md") {
            display: none;
        }

        &.right {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            clip-path: polygon(0 0, 100% 0, 100% 100%, var(--k) 100%, 0 calc(100% - var(--k)));
            @include respond("md") {
                display: block;
            }
        }

        &:hover {
            background-color: #{color.adjust($primary-color, $lightness: -10%)};
        }

        &:active {
            background-color: #{color.adjust($primary-color, $lightness: -15%)};
        }
    }

    * {
        font-weight: 600;
    }

    .nav-item {
        transition: color 0.25s ease;
        * {
            transition: color 0.25s ease;
        }

        &:hover,
        .active {
            color: var(--primary-color);
            * {
                color: var(--primary-color);
            }
        }
    }
}
