@use "../abstracts" as *;
@use "sass:color";

.navbar {
    width: 100%;
    margin-inline: auto;
    font-weight: 600;
    border-bottom: 1px solid hsla(240, 9%, 66%, 0.2);

    * {
        font-weight: 600;
    }

    .nav-item {
        transition: color 0.25s ease;
        * {
            transition: color 0.25s ease;
        }

        &:hover,
        .active {
            color: var(--primary-color);
            * {
                color: var(--primary-color);
            }
        }
    }
}
