@use "../abstracts" as *;

.navbar {
    background: transparentize($dark-navy, 0.2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-weight: 600;
    border-bottom: 1px solid hsla(240, 9%, 66%, 0.2);

    * {
        font-weight: 600;
    }

    .nav-item {
        transition: color 0.25s ease;
        * {
            transition: color 0.25s ease;
        }

        &:hover,
        .active {
            color: var(--primary-color);
            * {
                color: var(--primary-color);
            }
        }
    }
}
