@use "../abstracts" as *;
@use "sass:color";

body {
    font-family: $font2;
    font-weight: 400;
    position: relative;
    min-height: 100vh;
    background-color: color.mix($gray-950, $purple-950, $weight: 65%);
    background-image: #{$gradient-purple};
}
