@use "../abstracts" as *;

body {
    position: relative;
    min-height: 100vh;
    background-color: #1a1a3a;
    background-image: linear-gradient(180deg, #{$light-navy} 0%, #{$dark-navy} 100%);
}
