@use "../abstracts" as *;

body {
    position: relative;
    min-height: 100vh;
    background-color: #1a1a3a;
    background-image: linear-gradient(180deg, #{$light-navy} 0%, #{$dark-navy} 100%);
    padding-inline: 1rem;
    @include respond("sm") {
        padding-inline: 2rem;
    }
    @include respond("md") {
        padding-inline: 3rem;
    }
    @include respond("lg") {
        padding-inline: 5rem;
    }
    @include respond("xl") {
        padding-inline: 10rem;
    }
}
